<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <title>StackOverflow</title>
  </head>
  <body>

  <div class="topnav" id="myTopnav" style="margin-right:300px;">
    <a href="#home">
     <img id="logo" src="../../static/files/stack.png" alt="StackOverflow-lite Logo">StackOverflow-lite</a>
     <a href="#contact">Contact Us</a>
     <a href="#about">About Us</a>
     <div class="topnav-right" style="margin:5px;">
      <a href="../users/logout.html">Log Out</a>
     </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="bars"></i>
    </a>
  </div>
<div class="contentbody">
  <div class="leftsidebar">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="../index.html">Back To DashBoard</a>
      <a href="viewallquestions.html">View Questions</a>
      <a href="#">My Most Recent Activities</a>
      <a href="#">My Profile</a>
    </div>

    <h2>StackOverflow-Lite</h2>
    <p>Click on the element below to open the side navigation menu.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Side Menu</span>


  </div>

  <div class="centerbar">

   <div class="question-fields">
      <center>
        Ask a Question
        <textarea rows="2" cols="50" class="question-area" placeholder="Please, provide a brief and straight-forward title to your question"></textarea>

        <textarea rows="4" cols="50" class="description-area" placeholder="Please, provide a detailed description of what you are asking"></textarea>
      </br>
        <input type="submit" name="" value="Submit Question">
      </center>

  </div>


  </div>
      <div class="rightsidebar"></div>

</div>
<footer>
  <p>Posted by: Walter</p>
</br>
  <p>Contact information: <a href="mailto:nyekowalter69@gmail.com">
  nyekowalter69@gmail.com</a>.</p>
</footer>

<script type="text/javascript" src="../../static/javascripts/main.js"></script>
  </body>
</html>
