<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <title>StackOverflow</title>
  </head>
  <body>

  <div class="topnav" id="myTopnav" style="margin-right:300px;">
    <a href="#home">
     <img id="logo" src="../../static/files/stack.png" alt="StackOverflow-lite Logo">StackOverflow-lite</a>
     <a href="#contact">Contact Us</a>
     <a href="#about">About Us</a>
     <div class="topnav-right" style="margin:5px;">
      <a href="users/register.html">Sign Up</a>
      <a href="users/login.html">Sign In</a>
     </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="bars"></i>
    </a>
  </div>
<div class="contentbody">
  <div class="leftsidebar">

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="askquestion.html">Ask Question</a>
      <a href="../index.html">Back To DashBoard</a>
      <a href="#">My Most Recent Activities</a>
      <a href="#">My Profile</a>
    </div>

    <h2>StackOverflow-Lite</h2>
    <p>Click on the element below to open the side navigation menu.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Side Menu</span>

  </div>
    <div class="centerbar-dashboard">
      <div class="buttonask">
        <center>
        </br>
      </br>
        <strong>Top Questions of All Time</strong>
      </br>
    </br>



       <select class="orderby-select" name="">

         <option value="">Most Recent Questions</option>
         <option value="">Most Answered Questions</option>
         <option value="">Most Voted Questions</option>
         <option value="">Have Accepted Answers</option>

       </select>

       <select class="users-select" name="">

         <option value="">Asked By Me</option>
         <option value="">Asked by Others</option>

       </select>

       <input type="text" name="" value="" placeholder="Search Questions..." style="width: 80%;">
     </br>
   </br>
        <table id="table-all-questions">
          <col width="80">
          <col width="80">
          <col width="500">
          <col width="100">

            <tr>
              <th>Votes</th>
              <th>Answers</th>
              <th>Questions</th>
              <th>Asked By</th>
            </tr>
            <tr onclick="document.location = 'viewonequestion.html';" class="table-row">
              <td>1</td>
              <td>3</td>
              <td>Where were you yesterday</td>
              <td>Andela</td>
            </tr>
            <tr onclick="document.location = 'viewonequestion.html';" class="table-row">
              <td>3</td>
              <td>4</td>
              <td>How old are you my friend</td>
              <td>Daniel</td>
            </tr>
            <tr onclick="document.location = 'viewonequestion.html';" class="table-row">
              <td>5</td>
              <td>6</td>
              <td>Who told you to disturb geeks!?</td>
              <td>Walter Nyeko</td>
            </tr>
            <tr onclick="document.location = 'viewonequestion.html';" class="table-row">
              <td>3</td>
              <td>4</td>
              <td>Do you love Andela?</td>
              <td>Ssali</td>
            </tr>
        </table>

      </center>

      </div>

    </div>








</div>
<footer>
  <p>Posted by: Walter</p>
</br>
  <p>Contact information: <a href="mailto:nyekowalter69@gmail.com">
  nyekowalter69@gmail.com</a>.</p>
</footer>

<script type="text/javascript" src="../../static/javascripts/main.js"></script>
  </body>
</html>
