<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css"/>
    <title>StackOverflow</title>
  </head>
  <body>

  <div class="topnav" id="myTopnav" style="margin-right:300px;">
    <a href="#home">
     <img id="logo" src="../static/files/stack.png" alt="StackOverflow-lite Logo">StackOverflow-lite</a>
    <a class="active" href="#home">Dashboard</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
     <div class="topnav-right" style="margin:5px;">
      <a href="users/register.html">Sign Up</a>
      <a href="users/login.html">Sign In</a>
     </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="bars"></i>
    </a>
  </div>
<div class="contentbody">
  <div class="leftsidebar">one</div>
    <div class="centerbar">
      <div class="buttonask" style="margin:55px;background-color:black;">
        <button style="background:blue; float:right; height:40px;width:200px;color:white; border-radius:5px;">Ask Question</button>
      </div>
      <div class="fourbuttons">
        <div class="btn-group">
          <button class="button">Button</button>
          <button class="button">Button</button>
          <button class="button">Button</button>
          <button class="button">Button</button>
        </div>
        <hr>


      </div>


    </div>
      <div class="rightsidebar">three</div>









</div>

  <footer>
<script type="text/javascript" src="../static/javascripts/main.js">

</script>
  </body>
</html>
