<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/main.css"/>
    <title>StackOverflow-Login</title>
  </head>
  <body>
    <center>
      <div class="topnav" id="myTopnav" style="margin-right:300px;">
        <a href="../index.html">
         <img id="logo" src="../../static/files/stack.png" alt="StackOverflow-lite Logo">StackOverflow-lite</a>
         <a href="#contact">Contact Us</a>
         <a href="#about">About Us</a>
         <div class="topnav-right" style="margin:5px;">
          <a href="register.html">Sign Up</a>
         </div>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="bars"></i>
        </a>
      </div>
  </br>
  </br>

</br>
</br>


<fieldset class="aboutstackoverflow">
    <legend>
      <div class="sign-in-header">
        User Sign In:
      </div></legend>
      <div class="sign-in-div">

        <form class="" action="" method="post">
          <label for="">Email</label>
          </br>
          <input type="text" name="username/email" value="" size="35" required>
        </br>
        </br>

        <label for="">Password</label>
        </br>
          <input type="password" name="password" value="" required>
        </br>
        </br>
        <input type="checkbox" id="remember-me" class="remember-me" value="Remember Me">Remember Me<br>
        </br>
          <input type="submit" name="" value="Login">
        </br>
        </br>
        Forgot Password?<a class="recover-password" href="#">Recover It Here</a>

      </br>
      </br>
      Need an account?<a class="recover-password" href="register.html">Sign Up Here</a>
        </form>

        </div>

  </fieldset>

</br>
</br></br>
</br>

  <footer>
    <p>Posted by: Walter</p>
  </br>
    <p>Contact information: <a href="mailto:nyekowalter69@gmail.com">
    nyekowalter69@gmail.com</a>.</p>
</footer>

</center>
  </body>
</html>
